### Data types

- integer               

     int

- float                 

     float

- strings               

     str

- boolean               

    bool
 
- complex conjugate     

    complex

$integer$

In [1]:
number=100
number

100

In [2]:
# type of the varible :  type
type(number)

int

# In maths we have different number system

- decimal

- binary

- octal

- hexa

**Binary**

- Bi mean 2

- so the base is also 2

- 0  1   2   3  4  5  6  7  8  9

- here will use only two digits:  0 and 1
    
- representation is :  0b<combinations of 0 and 1>
    
- 0b110  , 0B011101

In [3]:
0b111
# python output will come as decimal format only

7

In [4]:
0b1111

15

In [ ]:
# 3 digits = 4   2   1
# 4 digits = 8   4   2   1
# 5 digits=  16  8   4   2   1
**********************         
4    2     1    decimal output
**********************
0    0     0      0
0    0     1      1
0    1     0      2
0    1     1      3
1    0     0      4
1    0     1      5
1    1     0      6
1    1     1      7

4= 4 times 0 and 4 times 1 will come    
2= 2 times 0 and 2 time  1
1= 1 time  0 and 1  time  1

ON=1
Off=0

In [ ]:
    **********************         
 8  4    2     1    decimal output
    **********************
 0   0    0     0      0
 0   0    0     1      1
 0   0    1     0      2
 0   0    1     1      3
 0   1    0     0      4
 0   1    0     1      5
 0   1    1     0      6
 0   1    1     1      7
 1   0    0     0      8     
 1   0    0     1      9
 1   0    1     0      10
 1   0    1     1      11
 1   1    0     0      12
 1   1    0     1      13
 1   1    1     0      14
 1   1    1     1      15

In [5]:
0b1110

14

In [6]:
0b1001

9

**Octa**


- octa mean 8

- so the base is also 8

- 0  1   2   3  4  5  6  7  8  9

- here will use only 8 digits:  0,1,2,3,4,5,6,7 (0 to 7 means 8 digits)
    
- representation is :  0o<combinations of 0 to 7>
    
- 0o123  , 0O7564

In [7]:
0o123

83

In [8]:
0O756

494

In [9]:
0o565

373

**hexa**


- hexa mean 16

- so the base is also 16

- 0  1   2   3  4  5  6  7  8  9  , A  ,B, C, D, E, F

- here will use only 16 digits:  (0 to 9 and A to F)
    
- representation is :  0x<0 to 9 and A to F>
    
- 0xabc  , 0X9DF

In [11]:
0xabc

2748

$float$

In [13]:
number1=123.5
number1

123.5

In [14]:
type(number1)

float

$e$ $represntation$

In [15]:
10e3   #  10 * 1000 = 10000

10000.0

In [16]:
10e+3  # 10e3  and 10e+3  both are same

10000.0

In [17]:
1e5   # 1* 100000

100000.0

In [18]:
10e-3   # 10/1000= 1/100=0.01

0.01

In [ ]:
# ML ===== output as zero
# 0.00000000000000000000123
# 123e-10= 123/100000000000= 0.0000000000123

In [20]:
1000e-5  # 1000/100000

0.01

In [23]:
10e-6

1e-05

$Strings$

In [24]:
name="python"  # write any thing in quotes
type(name)

str

In [25]:
name1="100"
type(name1)

str

In [26]:
name2='how are you'
name2

'how are you'

In [ ]:
hai

how are you

write above sentence in the one string 
when you call your output should line be lie
/n   /t

In [27]:
name3="hai
       how are you"
    
name3

SyntaxError: unterminated string literal (detected at line 1) (373100525.py, line 1)

In [28]:
name4='hai
       how are you'
    
name4

SyntaxError: unterminated string literal (detected at line 1) (2079976953.py, line 1)

In [29]:
# whenever you want write multi lines  use triple quotes

name5="""hai
         how are you"""
name5

# doc string

'hai\n         how are you'

In [ ]:
# doc string is very important
# jupyter notebook : markdown option
# vs code pycharm :  doc string

In [30]:
import random
random.randint()

my name is python

In [ ]:
"""my name is python"""

In [31]:
"""
i have taken 20 in a
i have taken 30 in b
im cal
"""
a=20 #
b=30
a+b

50

In [ ]:
import random
random.randint()